{% extends "base.html" %}

{% block content %}
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div>
                <img src="/static/images/Bold Modern Minimalist Gradient Technology Business Logo.png" style="width: 3rem;" alt="Logo">
                <a href="/dashboard" class="navbar-brand">Brand Name</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/login" class="nav-link active" aria-current="page">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link active" aria-current="page">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<style>
    section {
        margin-top: 4rem;
    }
</style>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Never leave a stone untouched with outbound</h1>
            <p>
                <a href="/login" class="btn btn-primary m-2">Log-in</a>
                <a href="/signup" class="btn btn-secondary m-2">Get Started</a>
            </p>
        </div>
    </section>

    <style>
        ins {
            font-size: 2rem;
            text-decoration: none;
        }

        .centered-list {
            list-style-position: inside;
            padding-left: 0;
            text-align-center;
        }
    </style>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="card mb-4 box-shadow">
                        <h3 class="card-heading" style="margin-top: 1rem;">Small</h3>
                        <div class="card-body">
                            <p class="card-text">
                                <ins>£4.99</ins><span>/mo</span>
                            </p>
                            <div class="card-content">
                                <ul class="centered-list">
                                    <li>50 emails</li>
                                    <li>Account Warming</li>
                                </ul>
                                <button class="btn btn-outline-primary">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card mb-4 box-shadow">
                        <h3 class="card-heading" style="margin-top: 1rem;">Medium</h3>
                        <div class="card-body">
                            <p class="card-text">
                                <ins>£7.99</ins><span>/mo</span>
                            </p>
                            <div class="card-content">
                                <ul class="centered-list">
                                    <li>100 emails</li>
                                    <li>Account Warming</li>
                                    <li>Live Account Notifications</li>
                                </ul>
                                <button class="btn btn-outline-primary">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card mb-4 box-shadow">
                        <h3 class="card-heading" style="margin-top: 1rem;">Large</h3>
                        <div class="card-body">
                            <p class="card-text">
                                <ins>£19.99</ins><span>/mo</span>
                            </p>
                            <div class="card-content">
                                <ul class="centered-list">
                                    <li>200 emails</li>
                                    <li>Account Warming</li>
                                    <li>Live Account Notifications</li>
                                </ul>
                                <button class="btn btn-outline-primary">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}