{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<style>
    .btn-outline-google {
        border:  1px solid red;
        background-color: white;
        border-radius: 0.35em;
    }

    @media (min-width: 650px) {
        .login-card {
            width: 50%;
        }
    }
</style>
<main role="main" class="fullscreen-center">
    <div class="container text-center borderless">
        <div class="card p-3 login-card">
            <h3 class="card-title">Log In</h3>
            <div class="card-body">
                <form action="{{ url_for('views.login_user') }}" method="post">
                    <div class="row mb-3">
                        <label for="email" class="text-start col-sm-4 col-form-label col-form-label-sm">Email</label>
                        <br>
                        <input type="email" class="form-control form-control-sm" id="email" name="password" placeholder="johndoe@example.com">
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="text-start col-sm-6 col-form-label col-form-label-sm">Password</label>
                        <br>
                        <input type="password" class="form-control form-control-sm" id="password" name="password" placeholder="chickenandeggs123">
                    </div>
                    <div class="row mb-3">
                        <input class="btn btn-outline-primary" type="submit" value="Submit">
                    </div>
                    <div class="row mb-3">
                        <a href="{{ url_for('views.login_google') }}" class="btn btn-outline-google">
                            <img src="/static/images/Logo-google-icon-PNG.png" alt="Google Logo" style="width: 1.5rem; margin-right: 0.5rem;">
                            Sign in with Google
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}